#logo{
    color: rgb(0, 0, 0);
    font-weight: 900;
    font-size: 50px;
    /* centrar texto */
    text-align: center; 
}

#logo_de_minecraft{
    width: 300px;
    height: 50px;
}
  
nav{
    text-align: center;
    
}

nav a{
    margin: 15px;
}

  
#logodos{
    text-align: center;
}

.tarjeta img{
    width: 100%;
    height: 100%;
}

.tarjeta{
    width: 90px;
    display: inline-block;
    margin-right: 30px;
    text-align: center;
    border: 1px solid rgb(55, 54, 54);
}

.nombre_tarjeta{
    background-color: rgb(207, 54, 54);
}

.nombre_tarjeta p{
    color: white;
    margin-bottom: 0px;
}

.contenedor{
    text-align: center;
}
